[Unit]
Description=Minecraft Vanilla Server

[Service]
User=admin
Group=admin
Restart=on-abort
WorkingDirectory=/home/admin/minecraft-server/Vanilla/
ExecStart=/usr/bin/java -Xms1024M -Xmx3072M -jar /home/admin/minecraft-server/Vanilla/server.jar nogui

[Install]
WantedBy=multi-user.target
